html {
  position: relative;
  min-height: 100%;
}

body {
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

.table td,
.table thead th {
  vertical-align: middle;
  border: 1px solid black;
}
